{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block bootstrapcss %}
    {% bootstrap_css %}
    {% endblock %}
    {% bootstrap_javascript jquery=1 %}

    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link rel="icon" href="/static/img/favicon.ico">
    <title>{% block title %}beNOG{% endblock %}</title>
    {% block head %}{% endblock %}
</head>

<body class="base-body">
    <header class="base-header">
        <div id="home-logo"><img src="/static/img/benog.png"></div>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/events">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/wiki">WiKi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ml">Mailing-List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Log In</a>
                </li>
            </ul>
        </div>
</nav>
    <section>
        <div class="container">
    {% block content %}
    {% endblock %}
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">
                Made with love at
                <a href="http://benog.net">
                    <img src="/static/img/benog.png" style="height: 1em;">
                    beNOG</a> — Code on <a href="http://github.com/BENOG-belgium/website">GitHub</a>
            </p>
        </div>
    </footer>
</body>

</html>