{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h1>beNOG</h1><br>
            <p>beNOG is a community of people who are interested in Networking, Cyber-Security and the Belgian Telecom Industry in general</p>

            <p>We trive to push Net-Neutrality forward and to the improvement of the network quality</p>
            <p>beNOG is not a place for political debate, But rather a place for discussion about technical problems and technical information that might be used or affect Internet in Belgium. English is the default language as it allows us go beyond our language barrier.
                Before posting on the mailing list, please make sure you are excelent to each other.</p>
        </div>
    </div>
{% endblock %}